body {
    font-family: roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
}

header {
    display: flex;
    align-self:stretch;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

li {
    display: inline;
    margin-right: 30px;

}

section {
    display: flex;

}

a {
    text-decoration: none;
}
#hero {
    padding: 15px;
    display: flex;
    justify-content: flex-end;

}
.img-container {
    max-width: 650px;
    margin: 0;
}

#info-box {

}

#quote-box {

}

#call-to-action {

}